/*--------RESET--------*/
/* line 4, /home/mike/battleships/app/assets/stylesheets/app_style.css.scss */
html, body, main, header, section, footer, div, figure, ul, li, p, span, h1, h2, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  display: block;
}

/* line 14, /home/mike/battleships/app/assets/stylesheets/app_style.css.scss */
body {
  font-family: sans-serif;
}

/* line 18, /home/mike/battleships/app/assets/stylesheets/app_style.css.scss */
a {
  text-decoration: none;
}

/* line 22, /home/mike/battleships/app/assets/stylesheets/app_style.css.scss */
ul {
  list-style: none;
}

/* line 26, /home/mike/battleships/app/assets/stylesheets/app_style.css.scss */
input {
  -webkit-appearance: none;
  outline: none;
}

/* line 31, /home/mike/battleships/app/assets/stylesheets/app_style.css.scss */
input:focus, textarea:focus {
  outline: none;
}

/* line 35, /home/mike/battleships/app/assets/stylesheets/app_style.css.scss */
.group:after {
  clear: both;
  display: block;
  content: "";
}

/*--------Formatting--------*/
/* line 43, /home/mike/battleships/app/assets/stylesheets/app_style.css.scss */
html {
  height: 100%;
  background: url(/assets/sea.jpg);
  background-size: cover;
}
/* line 48, /home/mike/battleships/app/assets/stylesheets/app_style.css.scss */
html:after {
  display: none;
  content: url(/assets/sea.jpg);
}
/* line 1, /home/mike/battleships/app/assets/stylesheets/main_style.css.scss */
main {
  position: absolute;
  width: 910px;
  max-width: 100%;
  max-height: 1210px;
  top: 70px;
  left: 50%;
  margin-left: -455px;
}
/* line 1, /home/mike/battleships/app/assets/stylesheets/nav_style.css.scss */
nav {
  width: 100%;
  height: 40px;
  background: rgba(20, 0, 150, 0.7);
  color: white;
  padding: 10px;
}
/* line 8, /home/mike/battleships/app/assets/stylesheets/nav_style.css.scss */
nav .form-container {
  float: right;
  border: 1px solid purple;
}
/* line 12, /home/mike/battleships/app/assets/stylesheets/nav_style.css.scss */
nav .form-container .nav-form {
  height: 28px;
  padding: 10px;
}
/* line 16, /home/mike/battleships/app/assets/stylesheets/nav_style.css.scss */
nav .form-container .nav-form * {
  float: left;
  margin: 0 5px;
  padding: 5px 10px;
}
/* line 22, /home/mike/battleships/app/assets/stylesheets/nav_style.css.scss */
nav .form-container .nav-form input {
  background: none;
  border: 1px solid white;
}
/* line 27, /home/mike/battleships/app/assets/stylesheets/nav_style.css.scss */
nav .form-container .nav-form button {
  background: lightblue;
}
/* line 35, /home/mike/battleships/app/assets/stylesheets/nav_style.css.scss */
nav #sign-out-button {
  width: 100px;
  height: 20px;
}
/* line 1, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.left-panel, .right-panel {
  float: left;
  height: 100%;
}
/* line 5, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.left-panel h1, .right-panel h1 {
  width: 100%;
  font-size: 30px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: rgba(20, 0, 150, 0.7);
}
/* line 15, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.left-panel canvas, .right-panel canvas {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}
/* line 22, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.left-panel .board-background, .right-panel .board-background {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* line 31, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.left-panel {
  width: 600px;
  margin-right: 10px;
}
/* line 35, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.left-panel .game-container header, .left-panel .game-container footer {
  width: 100%;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  color: #140096;
}
/* line 45, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.left-panel .game-container .board-container {
  width: 600px;
  height: 600px;
  position: relative;
}
/* line 53, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.left-panel h3 {
  display: none;
  font-size: 30px;
  color: white;
  padding-top: 10px;
  margin: 200px;
  padding-bottom: 10px;
  text-align: center;
  background: rgba(20, 0, 150, 0.7);
}
/* line 64, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.left-panel .active {
  display: block;
}
/* line 68, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.left-panel #start {
  cursor: pointer;
}

/* line 74, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.right-panel {
  width: 300px;
  color: white;
}
/* line 78, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.right-panel .games-container {
  background: rgba(20, 0, 150, 0.7);
  padding: 10px;
}
/* line 82, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.right-panel .games-container .game-tabs {
  cursor: pointer;
  margin: 5px;
}
/* line 86, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.right-panel .games-container .game-tabs .tab {
  float: left;
  width: 50%;
}
/* line 90, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.right-panel .games-container .game-tabs .tab h2 {
  padding: 10px;
}
/* line 94, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.right-panel .games-container .game-tabs .tab.active h2 {
  background: rgba(100, 100, 255, 0.5);
}
/* line 102, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.right-panel .games-container .games {
  display: none;
  height: 300px;
  overflow-y: auto;
}
/* line 106, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.right-panel .games-container .games li {
  padding: 15px;
  background: rgba(100, 100, 255, 0.5);
  margin: 5px;
}
/* line 113, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.right-panel .games-container .active {
  display: block;
}
/* line 119, /home/mike/battleships/app/assets/stylesheets/panel_style.css.scss */
.right-panel .board-container {
  margin-top: 10px;
  width: 300px;
  height: 300px;
  position: relative;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *





 */

