<header>
  <h1>Games</h1>
</header>

<section class="games-container">

  <ul class="game-tabs">
    <li>Open Games</li>
    <li>Full Games</li>
  </ul>

  <ul class="open-games">
    <li>Game 1</li>
    <li>Game 2</li>
    <li>Game 3</li>
    <li>Game 4</li>
  </ul>

  <ul class="full-games">
    <li>Game 1 (full)</li>
    <li>Game 2 (full)</li>
    <li>Game 3 (full)</li>
    <li>Game 4 (full)</li>
  </ul>

</section>

<figure class="player-board">
</figure>
