<header>
  <h1>Games</h1>
</header>

<section class="games-container">

  <ul class="game-tabs group">
    <li class="open tab active" id="open-tab">
      <h2>Open Games</h2>
    </li>
    <li class="full tab" id="full-tab">
      <h2>Full Games</h2>
    </li>
  </ul>

  <ul class="open games active" id="open-games">
    <% openGames.forEach (function(game) { %>
      <li data-id="<%= game.id %>"><%= game.str %></li>
    <% }) %>
  </ul>

  <ul class="full games" id="full-games">
    <% fullGames.forEach (function(game) { %>
      <li data-id="<%= game.id %>"><%= game.str %></li>
    <% }) %>
  </ul>

</section>

<figure class="board-container">
  <canvas
    class="game-canvas"
    id="side-canvas"
    width="300"
    height="300">
  </canvas>
</figure>
