<header>
  <h1>Games</h1>
</header>

<section class="games-container">

  <ul class="game-tabs group">
    <li class="open tab active" id="open-tab">
      <h2>Open Games</h2>
    </li>
    <li class="full tab" id="full-tab">
      <h2>Full Games</h2>
    </li>
  </ul>

  <ul class="open games active" id="open-games">
    <li>Game 1 is CRAAAYYYZEEEEY</li>
    <li>Game 2</li>
    <li>Game 3</li>
    <li>Game 4</li>
  </ul>

  <ul class="full games" id="full-games">
    <li>Game 1 (full)</li>
    <li>Game 2 (full)</li>
    <li>Game 3 (full)</li>
    <li>Game 4 (full)</li>
  </ul>

</section>

<figure class="player-board">
</figure>
