<header>
  <h1>Battleships</h1>
</header>


<div class="game-container">
  <header class="user-stub">
    <p class="game-header">Waiting for Opponent</p>
  </header>

  <figure class="board-container">
    <canvas
      class="game-canvas"
      id="main-canvas"
      width="600"
      height="600">
    </canvas>
  </figure>

  <footer class="notifications">
    <p class="game-footer"> </p>
  </footer>
</div>
