<header>
  <h1>Battleships</h1>
</header>
<div class="game-container">
  <header class="user-stub">
    <p>You are playing against TWEEDLEDUM</p>
  </header>

  <figure class="board-container">
  </figure>

  <footer class="notifications">
    <p>It's your move, TWEEDLEDEE</p>
  </footer>
</div>
