<div class="form-container">
  <form class="nav-form group" id="sign-in-form">

    <input
      type="text"
      class="nav-input sign-in"
      name="user[email]"
      placeholder="Email">

    <input
      type="password"
      class="nav-input sign-in"
      name="user[password]"
      placeholder="Password">

    <button class="nav-input sign-in" id="sign-in-button">Sign In</button>

  </form>
</div>

<div class="form-container">
  <form class="nav-form group" id="sign-up-form">
    <input
      type="text"
      class="nav-input sign-up"
      name="user[username]"
      placeholder="Username">


    <input
      type="text"
      class="nav-input sign-up"
      name="user[email]"
      placeholder="Email">

    <input
      type="password"
      class="nav-input sign-up"
      name="user[password]"
      placeholder="Password">

    <input
      type="password"
      class="nav-input sign-up"
      name="user[passwordconfirm]"
      placeholder="Confirm Password">

    <button class="nav-input sign-up" id="sign-up-button">Sign Up</button>

  </form>
</div>
