/*--------RESET--------*/

html, body, main, header, section, footer, div, figure, ul, li, p, span, h1, h2, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  display: block;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  -webkit-appearance: none;
  outline: none;
}

input:focus, textarea:focus {
  outline: none;
}

.group:after {
  clear: both;
  display: block;
  content: "";
}

/*--------Formatting--------*/

html {
  height: 100%;
  background: image_url("sea.jpg");
  background-size: cover;

  &:after {
    display: none;
    content: image_url("sea.jpg");
  }
}
