main {
  float: left;
  margin: 30px 0 0 200px;
  width: 800px;
  height: 800px;
  border: 1px solid red;

  h1 {
    font-size: 30px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
    background: #ccc;
    border-bottom: 1px solid red;
  }

  .game-container {
    margin: 25px;
    border: 1px solid red;

    header {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align:center;
      background: #ccc;
      border-bottom: 1px solid red;
    }

    .board-container {
      width: 750px;
      height: 565px;
      margin: 25px;
    }

    footer {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align:center;
      background: #ccc;
      border-top: 1px solid red;
    }

  }

}
